<%- include('parts/header') %>
<%- include('parts/navbar') %>

<div class="container">
    <form  method="POST">
        <textarea>adress</textarea>
        <input type="submit" value="Order" class="btn btn-success" >

    </form>
</div>

<%- include('parts/footer') %>