
<!DOCTYPE html>
<!-- saved from url=(0038)https://online-shop-kmr.herokuapp.com/ -->
<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <meta charset="UTF-8">
    <title><%= pageTitle%> - onlineShop</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>